<html>
  <body>
    <h1>Registration Form</h1>
    <form action="/submit.php" method="post">
      Name: <input type="text" name="name"><br>
      Email: <input type="text" name="email"><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>

